{% extends "core/base.html" %}
{% load i18n %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'menu' %}?key={{ SECRET_KEY }}">{% trans 'MENU' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "NOTIFY" %}</li>
        </ol>
    </nav>
    <div class="container">
        <div class="alert alert-primary" role="alert" style="font-size: xx-large"> {{ inf_text }}
        </div>
        <div class="alert alert-success" role="alert" style="font-size: xx-large">{{ sensor_text }}
        </div>
    </div>
{% endblock %}
