{% extends "core/base.html" %}
{% block content %}
    <div class="container">
        <div class="alert alert-primary" role="alert" style="font-size: xx-large"> Your infusion set should be changed
            in {{ idays }} days
            and {{ ihours }} hours.
        </div>
        <div class="alert alert-success" role="alert" style="font-size: xx-large"> Your CGM sensor should be changed
            in {{ sdays }} days
            and {{ shours }} hours.
        </div>
    </div>
    <div class="container">
        <div class="alert alert-primary" role="alert" style="font-size: xx-large"> Zmień zestaw infuzyjny w
             {{ idays }} dni
            i {{ ihours }} godzin.
        </div>
        <div class="alert alert-success" role="alert" style="font-size: xx-large"> Zmień sensor CGM w
             {{ sdays }} dni
            i {{ shours }} godzin.
        </div>
    </div>
{% endblock %}
