{% extends "core/base.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is my remider website about changing infusion set and/or CGM sensor. I`m diabetic and it helps me in my life.</p>
            <hr class="my-4">
            <p>PLEASE LEAVE THIS WEBSITE ALONE</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">I`m owner.</a>
        </div>
    </div>
{% endblock %}