{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% block content %}
    {{ time_form.media }}
    <div class="jumbotron jumbotron-fluid">

        <a href="{% url 'notif-center' %}?key={{ SECRET_KEY }}" role="button" class="btn btn-primary btn-lg btn-block"
           style="margin: 0.2%">🔔{% trans 'NOTIFICATIONS CENTER' %} 🔔</a>
        <a href="{% url 'reminder' %}?key={{ SECRET_KEY }}" role="button" class="btn btn-success btn-lg btn-block"
           style="margin: 0.2%"> &#9993;{% trans 'SEND NOTIFICATION NOW' %}&#9993;</a>
        <a href="{% url 'quiet' %}?key={{ SECRET_KEY }}" role="button" class="btn btn-info btn-lg btn-block"
           style="margin: 0.2%">🔕 {% trans 'QUIET CHECKUP' %} 🔕</a>
        <a id="upload_button" href="{% url 'upload' %}?key={{ SECRET_KEY }}" role="button" class="btn btn-secondary btn-lg btn-block"
           style="margin: 0.2%">&#x21ea; {% trans 'Upload verification file (ATriggerVerify.txt)' %} &#x21ea;</a>
        {% if info %}
            <div class="container" style="margin-top: 0.3%">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{% trans 'SUCCESFULLY UPLODED ATriggerVerify.txt' %}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
            </div>
        {% endif %}
        {% if info2.0 %}
            <div class="container" style="margin-top: 0.3%">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{% trans 'SUCCESSFULLY CHANGED ' %}{{ info2.1 }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
            </div>
        {% else %}
            {% if not info2.0 and info2.1 == "unsuccess" %}
                <div class="container" style="margin-top: 0.3%">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>{% trans 'AN ERROR OCCURED WHEN TRIED TO CHANGE VARIABLE' %}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <div class="container">
            <h1 class="display-4">{% trans 'SETTINGS:' %}</h1><br/>
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-8 align-self-end">
                        {% bootstrap_form language_form %}
                    </div>
                    <div class="col-4" style="margin-top: 3.3%">
                        <button type="submit" class="btn btn-primary"
                                name="language_button">{% trans 'CHANGE' %}</button>
                    </div>
                </div>
            </form>
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-8 align-self-end">
                        {% bootstrap_form time_form %}
                    </div>
                    <div class="col-4" style="margin-top: 3.3%">
                        <button type="submit" class="btn btn-primary" name="time_button">{% trans 'CHANGE' %}</button>
                    </div>
                </div>
            </form>
            {% for form in forms_list %}
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-8 align-self-end">
                            {% bootstrap_form form %}
                        </div>
                        <div class="col-4" style="margin-top: 3.3%">
                            <button type="submit" class="btn btn-primary"
                                    name="{{ form.button_name }}">{% trans 'CHANGE' %}</button>
                        </div>
                    </div>
                </form>
            {% endfor %}
            <div/>
        </div>
{% endblock %}