{% extends "core/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <h1 align="center" class="display-4"> 🔔 NOTIFICATIONS CENTER 🔔</h1>
        <div class="jumbotron">
            <h3 class="display-5">CHOOSE YOUR NOTIFICATIONS WAYS:</h3>
            <hr/>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" role="button" class="btn btn-primary" value="CHANGE">
            </form>
        </div>
        <a href="{{ urllink }}" role="button" class="btn btn-primary btn-lg btn-block" style="margin: 0.2%">MANAGE IFTTT
            MAKERS</a>
        <a href="{{ urllink2 }}" role="button" class="btn btn-info btn-lg btn-block" style="margin: 0.2%">MANAGE
            PHONE NUMBERS</a>
    </div>

{% endblock %}