{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ menu_url }}">MENU</a></li>
            <li class="breadcrumb-item active" aria-current="page">UPLOAD ATriggerVerify.txt FILE</li>
        </ol>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-5">WGRAJ SWÓJ PLIK ATriggerVerify.txt</h1>
            <hr class="display-5"/>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">WGRAJ</button>
            </form>
        </div>
    </div>
{% endblock %}